:root {
  --background: 220 14% 96%;
  --foreground: 220 25% 12%;
  --primary: 351 80% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 176 50% 32%;
  --muted: 220 14% 90%;
  --muted-foreground: 220 12% 35%;
  --border: 220 14% 76%;
  --radius: 0.75rem;
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

.dark {
  --background: 240 28% 14%;
  --foreground: 0 0% 100%;
  --primary: 351 80% 59%;
  --secondary: 176 56% 55%;
  --muted: 218 39% 20%;
  --muted-foreground: 218 11% 65%;
  --border: 255 26% 33%;
}